extends layout

block content
    body
    h1 Books
    p
      a.button(href='books/new') Create New Book
    p
      | Filters 
      a(href='/books') All
      |  
      a(href='/books?filter=overdue') Overdue
      |  
      a(href='/books?filter=checked_out') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td
              a(href='/books/details/' + book.id) #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.first_published}
    ul.pagination.justify-content-center
        - for(var i = 0; i < totalBooks/numPerPage; i++)
            - var page = i + 1;
            - var active = page == currentPage ? "active" : "";
            li(class="page-item " + active)
                a.page-link(href="/books?page=" + page)
                  =page
        