extends layout

block content
    //- //- - var filterQuery = filter ? `&filter=` + filter : '';
    //- - var qQuery = q ? '&q=' + q : '';
    //- - var pageQuery = page ? '&page=' + page;
    body
    h1 Books
    p
      a.button(href='books/new') Create New Book
    p
      | Filters 
      a(href='/books') All
      |  
      a(href='/books?filter=overdue') Overdue
      |  
      a(href='/books?filter=checked_out') Checked Out
      
    if displayAll
      form.form-inline.md-form.form-sm.mt-0
        input.form-control.form-control-sm.ml-3.w-50(name="q" type="text" placeholder="Search for title, author, genre" aria-label="Search")
        input.search(type='submit' value='Search')
    br
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td
              a(href='/books/details/' + book.id) #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.first_published}
    ul.pagination.justify-content-center
        - for(var i = 0; i < totalBooks/numPerPage; i++)
            - var page = i + 1;
            - var active = page == currentPage ? "active" : "";
            - var query = q ? "&q="+ q : "";
            li(class="page-item " + active)
                a.page-link(href="/books?page=" + page + query)
                  =page
        