extends layout

block content
    h1 Delete Patron
    p 
        strong Name: 
        | #{patron.first_name} #{patron.last_name}
    br
    p Are you sure you want to delete this patron?
    form(action="/patrons/delete/" + patron.id + "?_method=PUT" method="post")
        input(type='submit' value='Yes, Delete Patron') 